body {
  background: salmon;
  font-family: 'Roboto', sans-serif;
  .app {
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .table-title {
    background: green;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Varela Round', sans-serif;
  }
  tbody tr:nth-child(even) {
    background: midnightblue;
  }
  tbody tr:nth-child(odd) {
    background: yellow;
  }
  .user-img {
    display: flex;
    align-items: center;
    img {
      width: 35px;
    }
  }
}