$primary-green: #a5d6a7;
$primary-green-bright: #d7ffd9;
$primary-green-dark: #75a478;
$primary-font-color: #000000;
$secondary-turquoise: #00766c;
$secondary-font-color: #ffffff;
$highlight-font-color: #f44336;
body {
  background: $primary-green-bright;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  h1 {
    font-size: 1.5em;
    @media (min-width: 400px) {
      font-size: 2.5em;
    }
  }
  .app {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .wrap-table {
    overflow-x: auto;
  }
  table {
    max-width: 80vw;
    thead th {
      padding: 0;
    }
    td {
      text-align: center;
    }
    th button {
      background: none;
      border: none;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .table-title {
    background: $secondary-turquoise;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Varela Round', sans-serif;
    color: $secondary-font-color;
  }
  tbody tr:nth-child(even) {
    background: $primary-green;
  }
  tbody tr:nth-child(odd) {
    background: $primary-green-dark;
  }
  figure {
    margin: 0.2em 0.7em;
  }
  .user-img {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      border-radius: 50%;
      padding: 0;
      margin: 0;
    }
  }
  .active {
    color: $highlight-font-color;
  }
  footer {
    .github-icon {
      fill: $primary-green-dark;
    }
  }
}